@import url("https://fonts.cdnfonts.com/css/berkshire-swash");
body {
  margin: 0;
  font-family: "Berkshire Swash", sans-serif !important;
}

code {
  font-family: Arial, Helvetica, sans-serif;
}
.bg-yellow {
  background-color: rgb(247, 234, 102) !important;
}
.text-yellow {
  color: rgb(247, 234, 102) !important;
}
.text-violet {
  color: rgb(44, 0, 71) !important;
}
.bg-violet {
  background-color: rgb(44, 0, 71) !important;
}
.input::placeholder {
  color: white !important;
  opacity: 1;
}
